@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.home-grid {
    display: grid;
    font-family: 'Oswald';

}

header {
    background-color: #e76f51;
    color: white;
    font-family: Serif;
    display: grid;
    grid-template-columns: 150px auto;
    height: 75px;

}

nav a:hover {
    color: black;
}

nav {
    text-align: right;
    display: flex;
    justify-content: space-around;
}

#logo-link img {
    align-self: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-area: auto;
    height: 60px;
}

#logo-link h1 {
    height: 60px;
    align-self: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-area: auto;
    height: 60px;
}

.footer {
    background-color: #6f7364;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-title {
    align-items: center;
}

/* subpage 1 */
.images2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}

.item1 {
    width: 50%;

}

.item2 {
    width: 50%;
}

.item3 {
    width: 50%;

}

.item4 {
    width: 50%;

}

.item5 {
    width: 50%;
}

/* subpage 2 */

.images1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.item21 {
    width: 45%;
    

}

.item22 {
    width: 45%;
    
}

.item23 {
    width: 45%;

}

.item24 {
    width: 45%;

}

.item25 {
    width: 45%;
}







/* -----------for reference--------------- */
/* header { 

}

header #logo-link { 

}

header #logo-link img { 

}

header nav { 

}

header nav a { 

}

.home-grid { 

}

.home-grid .home-title { 

}

.home-grid .home-intro { 

}

.home-grid p { 

}

.home-grid video { 

}

.home-grid .site-content { 

}

footer { 

}

footer p { 

}

footer .social { 

}

footer .social a { 

}

footer .social a img { 

} */